{% extends 'base.html' %}

{% block title %}О компании{% endblock %}

{% block content %}
<div class="about-container">
    <section class="about-section mb-5">
        <div class="container">
            <h2 class="text-center mb-4">О нашей компании</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-card p-4 mb-4">
                        <h2 class="mb-3">⚡️Лучший магазин дизайнерской одежды</h2>
                        <p>Мы - Интернет магазин, основанный в 2017 году. За годы работы мы заслужили доверие тысяч
                            клиентов по всей России.</p>
                        <p>Наша миссия - предоставлять качественные товары по доступным ценам с отличным сервисом.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-card p-4 mb-4">
                        <h2 class="mb-3">Доставка по всей России </h2>
                        <ul class="about-list">
                            <li>Доставим в любую точку страны</li>
                            <li>Удобной курьерской службой для вас)</li>
                            <li>Ответсвтенность за доставку несем мы</li>
                            <li>Товар приедет в идеальном стостояние</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="map-section py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">Мы находимся</h2>
            <p class="text-center mb-4">г. Тверь, улица Новая Заря, 6</p>
            <!-- Яндекс Карта -->
            <div style="position:relative;overflow:hidden;">
                <iframe src="https://yandex.ru/map-widget/v1/?ll=35.924661,56.865565&ol=biz&z=18.97" width="100%"
                        height="700" frameborder="1" allowFullscreen style="position:relative;"></iframe>
            </div>
        </div>
    </section>
</div>
{% endblock %}