{% extends 'base.html' %}

{% block title %}
    {{ product.title }}
{% endblock title %}

{% block content %}
    <div class="detail-product d-flex">
        <div class="detail-img">
            <img src="{% if product.image %}{{ url_for('get_work_image', work_id=product.id) }}{% else %}{{ url_for('static', filename='img/noimage.jpg')}}{% endif %}" alt="" class="detail-image">
        </div>
        <div class="detail-description">
            <h2>{{ product.title }}</h2>
            <h3>{% if product.discount != 0 %}
                        <div class="cart-discount d-flex gap-2">
                            <p class="line">{{ product.price }} Руб</p>
                            <p>{{ product.price | price_discount(product.discount) }} руб</p>
                        </div>
                    {% else %}
                        <p class="cart-discount">{{ product.price }} Руб</p>
                    {% endif %}</h3>
            <h3>Category: {{ product.category }}</h3>
            <h3>about:<br> {{ product.description }}</h3>
            <a href="https://t.me/teslanambaone" class="cart-btn d-flex align-items-center justify-content-center" target="_blank">Написать менеджеру</a>
        </div>
    </div>
{% endblock content %}