{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <section class="home d-flex flex-column">
        <div class="home-title d-flex flex-column align-items-center">
            <a href="#" class="home-btn mt-4">ALL PRODUCTS</a>
        </div>
        <div class="home-recomendation">
            <div class="rec-title mb-4">
                <h3><span>Popular Accessories</span></h3>
            </div>
        </div>
        <div class="home-cardss d-flex gap-4">
            {% for product in work %}
                <a href="{{ work.title }}" class="home-card">
                    <img src="{{ product.title }}" class="card-img">
                    <h5 class="title-card">{{ product.title }}</h5>
                    <h5 class="title-card">привет</h5>

                </a>
            {% endfor %}
        </div>
    </section>
    <img src="{{ url_for('static', filename='img/logogot.png') }}" class="logogothic" alt="">
    <img src="{{ url_for('static', filename='img/subtitlee.png') }}" class="subtitlee" alt="">
{% endblock content %}